* {
  margin: 0%;
  padding: 0%;
}
/* Default height for small devices */
#intro-example {
  height: 400px;
}

/* Height for devices larger than 992px */
@media (min-width: 992px) {
  #intro-example {
    height: 600px;
  }
}

#result li {
  position: relative; /* parent is relative */
  padding-right: 40px; /* space so text doesn't overlap button */
  list-style: none; /* optional: remove default bullets */
  margin-bottom: 15px;
}

#result li button {
  position: absolute;
  right: 10px; /* distance from right edge */
  top: 50%;
}

/* Default: English (LTR) */
body {
  background: #100425 !important;
  direction: ltr;
}

/* Arabic mode */
body[dir="rtl"] {
  direction: rtl;
  text-align: right;
}
/* Make sure sections have proper height */
section {
  min-height: 100vh; /* or appropriate height */
  padding: 80px 0; /* account for fixed navbar */
}
